@model IEnumerable<TestWebDemo.Models.AlertViewModel>

@{
    ViewBag.Title = "View Alerts";
}

@if (Model == null || !Model.Any())
{
    <p class="alert alert-info">There is no existing alert ...</p>
    return;
}

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Content</td>
        </tr>
    </thead>
    <tbody>
    @foreach (var alert in Model)
    {
        <tr>
            <td>@alert.Id</td>
            <td>@alert.Title</td>
            <td>@alert.Content</td>
        </tr>
    }
    </tbody>
</table>
